/* ---- Basic Setup ------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato, Arial, sans-serif";
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
    /* Makes fonts rendering in a great way */
}


/* ----- Reusable Components ------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
    /* top and botom set to 0px and left & right to auto */
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ----- Buttons ------ */

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: #fff;
    margin-right: 15px;
    padding: 10px;
    padding-top: 10px;
}

a {
    background-color: transparent;
    font-size: 25px;
    padding: 10px 10px;
    text-decoration: none;
    /* -- Text deco gets rid of the underlines -- */
}


/* ----- Header ------ */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(images/galapagos-penguin.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/galapagos-penguin.jpg);
    /* near-gradient is used to put text on image and make the image darker */
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    color: #e67e22;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 30px;
    color: #e67e22;
}

h4 {
    text-transform: uppercase;
    text-align: left;
    font-size: 80%;
    color: #e67e22;
    padding-top: 0px;
}

p {
    text-align: center;
    margin-bottom: 10px;
    S
}

text {
    font-size: 14px;
}

.long-copy,
ul {
    font-size: 25px;
    text-align: center;
    color: #555;
    width: auto;
    padding: 0% 10%;
}


/* ----- logo ------ */

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 40px;
}


/* ----- Navigations ------ */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 70px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-size: 28px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #e67e22;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* To put some Orange lines between text */

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* ----- Section-Features ------ */

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* --- Contact Form --- */

.contact-form {
    width: 60;
    margin: 0 auto;
}

input [type=text],
select[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    /* to get rid of the blue color border lines that appear when clicking a box */
    outline: none;
}


/* --- Mobile First --- */

@media screen and (max-width: 53em) {
    .outermost {
        width: auto;
    }
    nav,
    a,
    span {
        display: block;
        width: auto;
        height: auto;
    }
    a {
        padding: 0.5em 0 1em 0.8em;
    }
    a+a {
        border-top: 0;
    }
}


/* --- Penguins --- */

.section-species {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(images/snares-penguin.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    margin-top: 0%;
    margin-bottom: 10%;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 20px;
}

blockquote:before {
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -10px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    /* separates text and image in two blocks */
}

cite img {
    height: 160px;
    border-radius: 0%;
    margin-right: 10px;
    vertical-align: middle;
}


/* --- Species --- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.penguin-features {
    margin-bottom: 2px;
}


/* --- Footer --- */

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 0px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e95950;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 0px;
}