 /* ---- Basic Setup ------- */
 
 * {
     margin: auto;
     padding: auto;
     box-sizing: border-box;
 }
 
 html {
     background-color: #fff;
     color: #555;
     font-family: "Lato, Arial, sans-serif";
     font-weight: 200;
     font-size: 20px;
     text-rendering: optimizelegibility;
     /* Makes fonts rendering in a great way */
 }
 /* ----- Reusable Components ------ */
 
 .row {
     margin: 0px 20px;
     margin-right: 0px;
     /* top and bottom set to 0px and left & right to auto */
 }
 
 .box {
     padding: 1%;
 }
 /* ----- Buttons ------ */
 
 .btn-full:link {
     margin-left: 140px;
     background-color: orange;
     border: 3px solid #e67e22;
     color: #fff;
     padding: 5px;
 }
 
 .btn-full:visited,
 input[type=submit] {
     margin-right: 100px;
     background-color: orange;
     border: 3px solid #e67e22;
     color: #fff;
     padding: 3px;
 }
 
 a:hover,
 a:active {
     color: #555;
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.2s, color 0.2s;
 }
 /* To create the effect on the button keeping the button unchanged after you hover over use .btn:hover */
 
 .btn:hover,
 .btn:active,
 input[type=submit]:hover,
 input[type=submit]:active {
     background-color: #cf6d17;
 }
 
 a {
     background-color: transparent;
     font-size: 25px;
     padding: 10px 10px;
     text-decoration: none;
     /* -- Text deco gets rid of the underlines -- */
 }
 
 #name,
 #email {
     padding: auto;
 }
 /* ----- Header ------ */
 
 header {
     background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(images/galapagos-penguin.jpg);
     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/galapagos-penguin.jpg);
     /* near-gradient is used to put text on image and make the image darker */
     background-size: cover;
     background-position: center;
     height: 80vh;
     background-attachment: fixed;
 }
 
 h1,
 h2,
 h3 {
     font-weight: 200;
     text-transform: uppercase;
 }
 
 h1 {
     color: #e67e22;
     word-spacing: 2px;
     letter-spacing: 1px;
     margin-left: 135px;
     margin-right: 50px;
     margin-bottom: 10px;
     padding-top: 100px;
     padding-bottom: 15px;
 }
 
 h2 {
     font-size: 180%;
     word-spacing: 2px;
     text-align: center;
     margin-bottom: 30px;
 }
 
 h3 {
     color: #e67e22;
     margin-top: 30px;
 }
 
 h4 {
     text-transform: uppercase;
     text-align: center;
     color: #e67e22;
     padding: auto;
 }
 
 h3,
 p,
 ul {
     padding: 0px 20px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: center;
 }
 
 p,
 ul {
     font-size: 25px;
     padding-top: 0px;
 }
 
 p {
     margin-right: 50px;
     margin-left: 50px;
 }
 
 .long-copy {
     line-height: 145%;
     margin-left: 16p%;
     color: #555;
     width: 70%;
 }
 
 .box p {
     font-size: 90%;
     line-height: 145%;
 }
 /* ----- logo ------ */
 
 .logo {
     height: 120px;
     width: auto;
     float: center;
     margin-top: 60px;
     margin-bottom: 0px;
     margin-left: 40px;
     padding-left: 100px;
 }
 /* ----- Carousel ----- */
 
 .section-carousel {
     padding-top: 20px;
     padding-bottom: 0px;
     margin-left: 40px;
     margin-right: 40px;
 }
 
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     height: 130px;
     width: 130px;
     outline: #e67e22;
     background-size: 100%, 100%;
     border-radius: 70%;
     border: 4px solid #e67e22;
     background-image: none;
 }
 /* ----- Navigations ------ */
 
 .main-nav {
     float: right;
     list-style: none;
     margin: 45px;
 }
 
 .main-nav li {
     display: inline-block;
     margin-left: 20px;
     font-size: 28px;
     margin-right: 50px;
 }
 
 .main-nav li a:link,
 .main-nav li a:visited {
     padding: 8px 0;
     color: #e67e22;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     border-bottom: 2px solid transparent;
     transition: border-bottom 0.2s;
 }
 
 .main-nav li a:hover,
 .main-nav li a:active {
     border-bottom: 2px solid #e67e22;
 }
 /* To put some Orange lines between text */
 
 h2:after {
     display: block;
     height: 2px;
     background-color: #e67e22;
     content: " ";
     width: 100px;
     margin: 0 auto;
     margin-top: 30px;
 }
 /* ----- Section-Features ------ */
 
 .col {
     display: block;
     float: left;
     margin: 0px;
 }
 
 .box p {
     font-size: 90%;
     line-height: 145%;
 }
 
 .section-101 {
     padding-right: 20px;
     padding-left: 20px;
     margin-left: 50px;
     margin-right: 50px;
 }
 
 text {
     font-size: 22px;
 }
 
 .section-features {
     padding-bottom: 0px;
     padding-top: 30px;
 }
 
 .introduction {
     padding: 0px;
 }
 
 section {
     padding: 30px 0px;
 }
 /* --- Contact Form --- */
 
 .contact-form {
     margin: auto;
     margin-top: 40px;
     margin-bottom: 40px;
     padding: 20px 30px;
 }
 
 input [type=name],
 select[type=email],
 textarea {
     width: 100%;
     padding: 15px;
     border-radius: 3px;
     border: 1px solid #ccc;
 }
 
 textarea {
     height: 200px;
 }
 
 input[type=checkbox] {
     margin: 5px 5px 5px 0px;
 }
 
 *:focus {
     /* to get rid of the blue color border lines that appear when clicking a box */
     outline: none;
 }
 /* --- Mobile First --- */
 
 @media screen and (min-width: 53em) {
     .outermost {
         width: auto;
     }
     nav,
     a,
     span {
         width: auto;
         height: auto;
     }
     a {
         padding: 0.5em 0 1em 0.8em;
     }
     a+a {
         border-top: 0;
     }
 }
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */
 /* --- Penguins --- */
 
 .section-species {
     background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.4)), url(images/snares-penguin.jpg);
     background-size: cover;
     color: #fff;
     background-attachment: fixed;
     margin-bottom: 50px;
 }
 
 blockquote {
     padding-right: 40px;
     padding-left: 50px;
     padding-top: 15px;
     padding-bottom: 15px;
     font-size: 20px;
     font-style: italic;
     line-height: 145%;
 }
 
 cite {
     font-size: 90%;
     margin-top: 25px;
     display: block;
     /* separates text and image in two blocks */
 }
 
 cite img {
     height: 160px;
     border-radius: 0%;
     margin-right: 10px;
     vertical-align: middle;
 }
 /* --- Species --- */
 
 .box img {
     width: 100%;
     height: auto;
     margin-bottom: 15px;
 }
 
 .penguin-feature {
     margin-bottom: 0px;
 }
 /* --- Footer --- */
 
 footer {
     background-color: #333;
     padding: 5px;
     font-size: 90%;
 }
 
 .footer-nav li,
 .social-links li {
     display: inline-block;
     margin-right: 0px;
 }
 
 .footer-nav li:last-child,
 .social-links li:last-child {
     margin: 0;
 }
 
 .footer-nav li a:link,
 .footer-nav li a:visited,
 .social-links li a:link,
 .social-links li a:visited {
     text-decoration: none;
     border: 0;
     color: #888;
 }
 
 .footer-nav li a:hover,
 .footer-nav li a:active {
     color: #ddd;
 }
 
 .social-links li a:link,
 .social-links li a:visited {
     font-size: 140%;
 }
 
 .ion-social-facebook,
 .ion-social-twitter,
 .ion-social-googleplus,
 .ion-social-instagram {
     transition: color 0.2s;
 }
 
 .ion-social-facebook:hover {
     color: #3b5998;
 }
 
 .ion-social-twitter:hover {
     color: #00aced;
 }
 
 .ion-social-googleplus:hover {
     color: #dd4b39;
 }
 
 .ion-social-instagram:hover {
     color: #e95950;
 }
 
 footer p {
     color: #888;
     text-align: center;
     margin: auto;
 }
 
 .copyright {
     margin: auto;
     padding-bottom: 10px;
 }
 
 .social-links {
     margin: auto;
     list-style: none;
     float: right;
     margin-right: 50px;
 }
 
 .footer-nav {
     margin: auto;
     list-style: none;
     float: left;
     list-style: none;
     margin-left: 50px;
 }
 
 .section-from {
     background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url(logo.jpg);
     background-size: 40%;
     color: #e67e22;
     background-attachment: fixed;
     padding-top: 25px;
 }